body{
    margin-top: 0;
    margin-left: 1;
    padding: 0;
    background: linear-gradient(to right,#ed4068,rgb(36, 143, 36),#bb44eb,#408eed,#ed4068);
}
h1{
    font-size: 3em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 3px ;
    box-sizing: border-box;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    transition: all 1s;
}

div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
    grid-auto-rows: 100px;
    grid-gap: 7.5px;
    grid-auto-flow: dense;
}

.vertical{
    grid-row: span 2;
}

.horizontal{
    grid-column: span 2;
}

.big{
    grid-row: span 2;
    grid-column: span 2;
}
.container > div:hover{
    transform: scale(1.05);
    cursor: pointer;
}