body{
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(237, 64, 104),rgb(36, 143, 36),rgb(187, 68, 235),rgb(64, 142, 237),rgb(237, 64, 104));
    background-image: linear-gradient(to left, rgb(54, 56, 68), rgb(86, 77, 102));
}
h1{
    font-size: 3em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(193, 196, 241);
    margin: 0;
    padding: 3px ;
    box-sizing: border-box;
}

/* filter */
.filter{
    width: 100% ;
    text-align: center;
    height: max-content;
    margin: 10px auto;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}
.filter p{
    font-size: 26px;
    text-transform:uppercase;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(4, 4, 73);
    margin: 0 0 5px 0;
}
.filter select {
    padding: 10px;
    /* background-color: green; */
    /* height: 50px; */
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
}
.filter select option{
    /* font-size: 20px;
    display: block;
    height: inherit; */
    /* height: 100px;
    width: 50px;; */
    background-color: rgb(4, 4, 44);
    text-align: center;
    color: white;
}

/* container */
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    transition: all 1s;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
    position: relative;
    box-sizing: border-box;
    /* border: 2px solid green; */
}
.container > div button{
    position: absolute;
    /* top: 50%; */
    display: none;
    transition: all 2s;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: 100px 100px 300px 300px 300px; */
    grid-auto-rows: 150px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.container > div:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.container > div:hover button{
    display: block;
}
.container > div:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}


div > img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.vertical{
    grid-row: span 2;
}

.horizontal{
    grid-column: span 2;
    /*  */
    /* display: flex; */
    /* flex-direction: column; */
    /* box-sizing: border-box; */
}

.big{
    grid-row: span 2;
    grid-column: span 2;
}
.big button{
    /* position: absolute; */
}
