body{
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(to left, rgb(54, 56, 68), rgb(86, 77, 102));
}
h1{
    font-size: 3em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(193, 196, 241);
    margin: 0;
    padding: 3px ;
    box-sizing: border-box;
}

/* filter */
.filter{
    width: 100% ;
    text-align: center;
    height: max-content;
    margin: 10px auto;
    box-shadow: 0 0 3px 3px rgba(92, 92, 92, 0.1);
}
.filter select {
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 0 2px 2px rgba(131, 130, 130, 0.15);
    color: rgb(4, 4, 44);
}
.filter select:focus{
    background-color: rgb(4, 4, 44);
    color: white;
}
.filter select option{
    background-color: rgb(4, 4, 44);
    text-align: center;
    color: white;
}

/* container */
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    transition: all 1s;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
    position: relative;
    box-sizing: border-box;
    /* pointer-events: unset; */
    z-index: 1;
}
.container > div button{
    position: absolute;
    z-index: 2;
    /* display: none; */
    visibility: hidden;
    border: 1px solid rgb(4, 4, 44);
    color: white;
    background-color: rgb(54, 56, 68);
    padding: 10px;
    cursor: pointer;
    transition: all 2s;
}
.container > div:hover button{
    /* display: block; */
    visibility: visible;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.container > div:hover{
    transform: scale(1.02);
    /* cursor: pointer; */
}

.container > div:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}


div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical{
    grid-row: span 2;
}

.horizontal{
    grid-column: span 2;
}

.big{
    grid-row: span 2;
    grid-column: span 2;
}
.display{
    overflow: scroll;
    max-width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
    /* visibility: hidden; */
}
.display .display-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    padding: 10px;
    color: red;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}
